:root,
page,
.up-root-portal {
  // 颜色
  --up-base-black: #000000FF;
  --up-base-white: #FFFFFFFF;
  --up-base-transparent: transparent;
  // 蓝色
  --up-blue-1: #F5F8FFFF;
  --up-blue-2: #E5EDFFFF;
  --up-blue-3: #B8CFFFFF;
  --up-blue-4: #7CA4FFFF;
  --up-blue-5: #4480FFFF;
  --up-blue-6: #1C64FDFF;
  --up-blue-7: #164ED1FF;
  --up-blue-8: #1341ADFF;
  --up-blue-9: #0F3285FF;
  --up-blue-10: #0A235CFF;
  --up-blue-opac: #1C64FD14;

  // 亮蓝
  --up-lightblue-1: #E8FBFFFF;
  --up-lightblue-2: #BFF2FFFF;
  --up-lightblue-3: #96E7FFFF;
  --up-lightblue-4: #6ED8FFFF;
  --up-lightblue-5: #45C7FFFF;
  --up-lightblue-6: #1CB2FDFF;
  --up-lightblue-7: #0D8CD6FF;
  --up-lightblue-8: #026AB0FF;
  --up-lightblue-9: #004E8AFF;
  --up-lightblue-10: #003563FF;
  --up-lightblue-opac: #1CB2FD14;

  // 粉色
  --up-pink-1: #FFF0F6FF;
  --up-pink-2: #FFDEEBFF;
  --up-pink-3: #FCC2D7FF;
  --up-pink-4: #FAA2C1FF;
  --up-pink-5: #F783ACFF;
  --up-pink-6: #FF357CFF;
  --up-pink-7: #FF0A60FF;
  --up-pink-8: #E0004FFF;
  --up-pink-9: #B80040FF;
  --up-pink-10: #8F0032FF;
  --up-pink-opac: #FF357C14;

  // 红色
  --up-red-1: #FFF5F5FF;
  --up-red-2: #FFE3E3FF;
  --up-red-3: #FFC9C9FF;
  --up-red-4: #FFA8A8FF;
  --up-red-5: #FB7C7CFF;
  --up-red-6: #F14646FF;
  --up-red-7: #DC2C2CFF;
  --up-red-8: #BC2626FF;
  --up-red-9: #A01515FF;
  --up-red-10: #790909FF;
  --up-red-opac: #F1464614;

  // 橘红色
  --up-volcano-1: #FFF2E8FF;
  --up-volcano-2: #FFDABFFF;
  --up-volcano-3: #FFBF96FF;
  --up-volcano-4: #FFA16EFF;
  --up-volcano-5: #FF8045FF;
  --up-volcano-6: #FD5C1CFF;
  --up-volcano-7: #D63F0DFF;
  --up-volcano-8: #B02802FF;
  --up-volcano-9: #8A1900FF;
  --up-volcano-10: #630F00FF;
  --up-volcano-opac: #FD5C1C14;

  // 橙色
  --up-orange-1: #FFF6EBFF;
  --up-orange-2: #FFE8CCFF;
  --up-orange-3: #FFD8A8FF;
  --up-orange-4: #FFC078FF;
  --up-orange-5: #FFA94DFF;
  --up-orange-6: #F57F00FF;
  --up-orange-7: #D05706FF;
  --up-orange-8: #A94605FF;
  --up-orange-9: #813604FF;
  --up-orange-10: #592503FF;
  --up-orange-opac: #F57F0014;

  // 黄色
  --up-yellow-1: #FFFAF1FF;
  --up-yellow-2: #FDE5B4FF;
  --up-yellow-3: #FDD78CFF;
  --up-yellow-4: #FCC964FF;
  --up-yellow-5: #FBBB3CFF;
  --up-yellow-6: #FAAD14FF;
  --up-yellow-7: #E19705FF;
  --up-yellow-8: #B97C04FF;
  --up-yellow-9: #916103FF;
  --up-yellow-10: #694702FF;
  --up-yellow-opac: #FAAD1414;

  // 绿色
  --up-green-1: #F3FBF9FF;
  --up-green-2: #E7F8F3FF;
  --up-green-3: #B8EADBFF;
  --up-green-4: #88DBC3FF;
  --up-green-5: #59CDAAFF;
  --up-green-6: #12B886FF;
  --up-green-7: #0F956CFF;
  --up-green-8: #0B6F51FF;
  --up-green-9: #074A36FF;
  --up-green-10: #04251BFF;
  --up-green-opac: #12B88614;

  // 青色
  --up-cyan-1: #F4FBFDFF;
  --up-cyan-2: #E9F8FAFF;
  --up-cyan-3: #BDEAF1FF;
  --up-cyan-4: #90DBE7FF;
  --up-cyan-5: #64CDDDFF;
  --up-cyan-6: #22B8CFFF;
  --up-cyan-7: #1C98ABFF;
  --up-cyan-8: #167988FF;
  --up-cyan-9: #115A65FF;
  --up-cyan-10: #0B3A42FF;
  --up-cyan-opac: #22B8CF14;

  // 紫色
  --up-purple-1: #F9F8FFFF;
  --up-purple-2: #E5DBFFFF;
  --up-purple-3: #D0BFFFFF;
  --up-purple-4: #B197FCFF;
  --up-purple-5: #9775FAFF;
  --up-purple-6: #8059F3FF;
  --up-purple-7: #5B29EFFF;
  --up-purple-8: #4511DFFF;
  --up-purple-9: #390EB9FF;
  --up-purple-10: #2D0B93FF;
  --up-purple-opac: #8059F314;

  // 靛色
  --up-grape-1: #FBF6FDFF;
  --up-grape-2: #F3D9FAFF;
  --up-grape-3: #EEBEFAFF;
  --up-grape-4: #E599F7FF;
  --up-grape-5: #DA77F2FF;
  --up-grape-6: #AE3EC9FF;
  --up-grape-7: #9731AFFF;
  --up-grape-8: #7B288FFF;
  --up-grape-9: #601F70FF;
  --up-grape-10: #451650FF;
  --up-grape-opac: #AE3EC914;

  // 冷灰
  --up-coolgrey-1: #F7F8FAFF;
  --up-coolgrey-2: #F2F3F5FF;
  --up-coolgrey-3: #E5E6EBFF;
  --up-coolgrey-4: #C9CBD4FF;
  --up-coolgrey-5: #A9ACB8FF;
  --up-coolgrey-6: #868A9CFF;
  --up-coolgrey-7: #6B7085FF;
  --up-coolgrey-8: #4E5369FF;
  --up-coolgrey-9: #272B3BFF;
  --up-coolgrey-10: #1D1F29FF;

  // 中性灰
  --up-neutralgrey-1: #FAFAFAFF;
  --up-neutralgrey-2: #F5F5F5FF;
  --up-neutralgrey-3: #EBEBEBFF;
  --up-neutralgrey-4: #D4D4D4FF;
  --up-neutralgrey-5: #B8B8B8FF;
  --up-neutralgrey-6: #9C9C9CFF;
  --up-neutralgrey-7: #858585FF;
  --up-neutralgrey-8: #696969FF;
  --up-neutralgrey-9: #3D3D3DFF;
  --up-neutralgrey-10: #292929FF;

  // 暖灰
  --up-warmgrey-1: #FAF8F7FF;
  --up-warmgrey-2: #F5F3F2FF;
  --up-warmgrey-3: #EBE7E5FF;
  --up-warmgrey-4: #D4CECCFF;
  --up-warmgrey-5: #B8B0ADFF;
  --up-warmgrey-6: #9C918CFF;
  --up-warmgrey-7: #857A75FF;
  --up-warmgrey-8: #695E5AFF;
  --up-warmgrey-9: #3B332FFF;
  --up-warmgrey-10: #292321FF;

  // 遮罩
  --up-opac-1_02: #00000005;
  --up-opac-2_04: #0000000A;
  --up-opac-3_08: #00000014;
  --up-opac-4_15: #00000026;
  --up-opac-5_20: #00000033;
  --up-opac-6_30: #0000004D;
  --up-opac-7_45: #00000073;
  --up-opac-7_55: #0000008C;
  --up-opac-8_65: #000000A6;
  --up-opac-9_75: #000000BF;
  --up-opac-10_85: #000000D9;
  --up-opacwhite-1_02: #FFFFFF05;
  --up-opacwhite-2_04: #FFFFFF0A;
  --up-opacwhite-3_08: #FFFFFF14;
  --up-opacwhite-4_15: #FFFFFF26;
  --up-opacwhite-5_20: #FFFFFF33;
  --up-opacwhite-6_30: #FFFFFF4D;
  --up-opacwhite-7_45: #FFFFFF73;
  --up-opacwhite-7_55: #FFFFFF8C;
  --up-opacwhite-8_65: #FFFFFFA6;
  --up-opacwhite-9_75: #FFFFFFBF;
  --up-opacwhite-10_85: #FFFFFFD9;
}