:root,
page,
.up-root-portal {
  /* 字重 */
  --up-font-weight-ultra-light: 100;
  --up-font-weight-thin: 200;
  --up-font-weight-light: 300;
  --up-font-weight-regular: 400;
  --up-font-weight-medium: 600;
  --up-font-weight-semibold: 700;
  --up-font-weight-bold: 700;
}
 
