:root,
page,
.wd-root-portal {
  --up-spacing-zero: var(--up-n-0);
  --up-padding-zero: var(--up-n-0);
  --up-padding-ultra-tight: var(--up-n-2);
  --up-padding-super-tight: var(--up-n-4);
  --up-padding-extra-tight: var(--up-n-6);
  --up-padding-tight: var(--up-n-8);
  --up-padding-main: var(--up-n-10);
  --up-padding-loose: var(--up-n-12);
  --up-padding-extra-loose: var(--up-n-16);
  --up-padding-super-loose: var(--up-n-20);
  --up-padding-ultra-loose: var(--up-n-24);
  --up-padding-spacious: var(--up-n-28);
  --up-padding-extra-spacious: var(--up-n-32);
  --up-padding-super-spacious: var(--up-n-40);
  --up-padding-ultra-spacious: var(--up-n-48);
  --up-spacing-ultra-tight: var(--up-n-2);
  --up-spacing-super-tight: var(--up-n-4);
  --up-spacing-extra-tight: var(--up-n-6);
  --up-spacing-tight: var(--up-n-8);
  --up-spacing-main: var(--up-n-10);
  --up-spacing-loose: var(--up-n-12);
  --up-spacing-extra-loose: var(--up-n-16);
  --up-spacing-super-loose: var(--up-n-20);
  --up-spacing-ultra-loose: var(--up-n-24);
  --up-spacing-spacious: var(--up-n-28);
  --up-spacing-extra-spacious: var(--up-n-32);
  --up-spacing-super-spacious: var(--up-n-40);
  --up-spacing-ultra-spacious: var(--up-n-48);
}