:root,
page,
.wd-root-portal {
  --up-n-0: 0px;
  --up-n-05: 0.5px;
  --up-n-1: 1px;
  --up-n-2: 2px;
  --up-n-3: 3px;
  --up-n-4: 4px;
  --up-n-5: 5px;
  --up-n-6: 6px;
  --up-n-8: 8px;
  --up-n-9: 9px;
  --up-n-10: 10px;
  --up-n-11: 11px;
  --up-n-12: 12px;
  --up-n-14: 14px;
  --up-n-15: 15px;
  --up-n-16: 16px;
  --up-n-17: 17px;
  --up-n-18: 18px;
  --up-n-20: 20px;
  --up-n-22: 22px;
  --up-n-24: 24px;
  --up-n-26: 26px;
  --up-n-28: 28px;
  --up-n-32: 32px;
  --up-n-34: 34px;
  --up-n-36: 36px;
  --up-n-40: 40px;
  --up-n-44: 44px;
  --up-n-48: 48px;
  --up-n-50: 50px;
  --up-n-52: 52px;
  --up-n-56: 56px;
  --up-n-60: 60px;
  --up-n-64: 64px;
  --up-n-88: 88px;
  --up-n-98: 98px;
  --up-n-248: 248px;
  --up-n-375: 375px;
  --up-n-full: 9999px;
}