

// empty
$empty-padding: var(--up-empty-padding, 32px 0) !default;
$empty-image-size: var(--up-empty-image-size, 170px) !default;
$empty-description-margin-top: var(--up-empty-description-margin-top, 4px) !default;
$empty-description-color: var(--up-empty-description-color, #666) !default;
$empty-description-font-size: var(--up-empty-description-font-size, 14px) !default;
$empty-description-line-height: var(--up-empty-description-line-height, 20px) !default;
$empty-description-padding: var(--up-empty-description-padding, 0 40px) !default;

