// Global design tokens
$padding-zero: 0 !default;
$padding-main: 24rpx !default;
$padding-loose: 32rpx !default;

$text-main: var(--up-text-main, #18181B) !default;

$font-weight-medium: 500 !default;

$typography-body-size-main: 28rpx !default;
$typography-body-size-extra-large: 36rpx !default;
$typography-body-line-height-size-main: 40rpx !default;
$typography-body-line-height-size-large: 48rpx !default;

$filled-oppo: var(--up-filled-oppo, #ffffff) !default;

$border-main: var(--up-border-main, #E5E5E5) !default;
$stroke-main: 1px !default;

// Swiper
$-swiper-radius: 0 !default;
$-swiper-item-padding: 0 !default;
$-swiper-item-text-color: #ffffff !default;
$-swiper-item-text-fs: 28rpx !default;

// Swiper Nav
$-swiper-nav-btn-size: 60rpx !default;
$-swiper-nav-btn-bg-color: rgba(0, 0, 0, 0.3) !default;
$-swiper-nav-btn-color: #ffffff !default;
$-swiper-nav-dot-size: 16rpx !default;
$-swiper-nav-dot-color: rgba(255, 255, 255, 0.5) !default;
$-swiper-nav-dot-active-color: #ffffff !default;
$-swiper-nav-dots-bar-active-width: 40rpx !default;
$-swiper-nav-fraction-height: 48rpx !default;
$-swiper-nav-fraction-bg-color: rgba(0, 0, 0, 0.3) !default;
$-swiper-nav-fraction-color: #ffffff !default;
$-swiper-nav-fraction-font-size: 24rpx !default;
