.up-img {
  position: relative;
  display: inline-block;
  &--placeholder {
    // filter: blur(40px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &--success {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  &--error {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--loading {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
.is-round {
  border-radius: 50% !important;
  overflow: hidden;
}

#myCanvast {
  width: 100%;
  height: 100%;
}
