// empty
$empty-padding: var(--up-empty-padding, 32px 0) !default;
$empty-image-size: var(--up-empty-image-size, 170px) !default;
$empty-description-margin-top: var(--up-empty-description-margin-top, 4px) !default;
$empty-description-color: var(--up-empty-description-color, #666) !default;
$empty-description-font-size: var(--up-empty-description-font-size, 14px) !default;
$empty-description-line-height: var(--up-empty-description-line-height, 20px) !default;
$empty-description-padding: var(--up-empty-description-padding, 0 40px) !default;
$dark-background: var(--up-dark-background, #131313) !default;
.up-theme-dark {
  .up-empty {
    background: $dark-background;
  }
}

.up-empty {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $empty-padding;

  &__box {
    width: $empty-image-size;
    height: $empty-image-size;

    .img {
      width: 100%;
      height: 100%;
    }

    // 兼容小程序标签和img-slot
    image {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    padding: $empty-description-padding;
    margin-top: $empty-description-margin-top;
    font-size: $empty-description-font-size;
    line-height: $empty-description-line-height;
    color: $empty-description-color;
  }
}